#logo {
  display: block;
  margin: auto;
  margin-top: 4rem auto;
}

#title-logo {
  display: block;
  margin: auto;
  margin-bottom: 4rem auto;
}

/**
 * Format for command-format titles
 */
.command {
  &:before {
    content: "$ ";
  }
}

.question {
  margin: 1rem auto;

  & + &:before {
    content: "------------------------------";
    display: block;
    margin: 1rem auto;
  }
}

.query {
  font-weight: bold;
}

.answer {
  text-indent: 2em;
}

.partner, .sponsor {
  margin: 5rem;
}

a.register, a.register:active, a.register:focus {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color;
  background: $grey-color-dark;
  border: none;
  padding: 1em;
}
