#logo {
  display: block;
  margin: auto auto 4rem;

  a, a:hover, a:active, a:visited {
    text-decoration: none;
    cursor: pointer;
  }
}

#title-logo {
  display: block;
  margin: 4rem auto auto;

  a, a:hover, a:active, a:visited {
    text-decoration: none;
    cursor: pointer;
  }
}

/**
 * Format for command-format titles
 */
.command {
  &:before {
    content: "$ ";
  }

  margin-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;
}

.question {
  margin: 1rem auto;

  & + &:before {
    content: "------------------------------";
    display: block;
    margin: 1rem auto;
  }
}

.query {
  font-weight: bold;
}

.answer {
  text-indent: 2em;
}

.partner, .sponsor {
  margin: 5rem;
  text-align: center;

  a, a:hover, a:active, a:visited {
    text-decoration: none;
    cursor: pointer;
  }
}

a.register, a.register:active, a.register:focus {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color;
  background: $grey-color-dark;
  border: none;
  margin: 2em;
  padding: 1em;
}

#thank-you {
  &::before {
    font-family: $base-font-family;
    font-size: $base-font-size;
    content: '$ sudo HackStetson | cowsay';
    display: block;
  }

  font-family: $base-font-family;
  line-height: 1.5;
  font-size: $base-font-size;
  background: transparent;
  overflow-x: hidden;
  border: none;
}